.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 160px 0 160px;
    font-weight: bold;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 65px;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
}

.navbar-tabs {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.navbar-tabs li {
    margin-left: 80px;
    list-style-type: none;
}

.navbar-tabs li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Added transition for smooth color change */
}

.navbar-tabs li:hover a {
    color: #b068f8; /* Changed color on hover */
}

