.bottom-container {/* css for orange container */
    background-color: #FFB84C;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;  
    width: 100%;
    font-size: 30px;
    color: white;
}

.bottom-par{
    font-size: 30px;
    font-weight: bold;
}




