.content-container {/* css for orange container */
    background-color: #FFB84C;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;  
    width: 100%;
    font-size: 30px;
    color: white;
}

.content-container:hover {
    color: #A459D1; /* Text become purple when hovering over */
}