.container { /*  top container  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 150px;
}

.grid-item { /*  the three columns  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.grid-item img { /*  image at top of each column  */
    max-width: 40%;
    height: auto;
}

.column-header { /*  header for each column  */
    font-size: 25px;
    margin-bottom: 5px;
}

.column-par { /*  paragraph in each column  */
    font-size: 20px
}

.customise {
    width: 40%;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    margin: 10px 0 20px 0;
    font-weight: 500;
    letter-spacing: -.03em;
}

.customise:hover { /* button text changes color when hovering */
    color: #FFB84C;
}